<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>

    <link rel="stylesheet" href="/dist/style.min.css"/>

    <script src="/dist/jquery.js"></script>
    <script src="/dist/underscore.js"></script>
    <script src="/dist/backbone.js"></script>
    <script src="/dist/handlebars.js"></script>
  </head>

  <body>
    <h1>Shortly</h1>
    <%- body %>
  </body>
</html>
